<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GameTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GameTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GameTests.Properties.Settings>
            <setting name="EncryptionKey" serializeAs="String">
                <value>88</value>
            </setting>
            <setting name="LevelCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FilePrefix" serializeAs="String">
                <value>leveltest_</value>
            </setting>
            <setting name="RootElement" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="QuestionElement" serializeAs="String">
                <value>question</value>
            </setting>
            <setting name="AnswerElement" serializeAs="String">
                <value>answer</value>
            </setting>
            <setting name="AnswerRightAttribute" serializeAs="String">
                <value>right</value>
            </setting>
            <setting name="AnswerRightValue" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="QuestionTextAttribute" serializeAs="String">
                <value>text</value>
            </setting>
            <setting name="FileNotFoundExceptionMessage" serializeAs="String">
                <value>Файл із запитаннями {0} не знайдено.</value>
            </setting>
            <setting name="PathNotFoundExceptionMessage" serializeAs="String">
                <value>Шлях {0}, за яким мають зберігатися запитання, не знайдено.</value>
            </setting>
            <setting name="FileIsCorruptedExceptionMessage" serializeAs="String">
                <value>Структура файлу {0} не є вірною. Ймовіно, були внесені зміни вручну, що пошкодило інформацію в файлі.</value>
            </setting>
        </GameTests.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <GameTests.Properties.Settings>
            <setting name="TestFilePath" serializeAs="String">
                <value>C:\Users\georgeukrainian\Documents\GitHub\BubbleBomb\TickTick5\GameTests\tests</value>
            </setting>
        </GameTests.Properties.Settings>
    </userSettings>
</configuration>